[submodule "plugins/hit-em-with-the-docs"]
	path = plugins/hit-em-with-the-docs
	url = https://github.com/TheGlitchKing/hit-em-with-the-docs.git
[submodule "plugins/mind-glaive"]
	path = plugins/mind-glaive
	url = https://github.com/TheGlitchKing/mind-glaive.git
[submodule "plugins/aeon-flux"]
	path = plugins/aeon-flux
	url = https://github.com/TheGlitchKing/aeon-flux.git
[submodule "plugins/persistent-planning"]
	path = plugins/persistent-planning
	url = https://github.com/TheGlitchKing/persistent-planning.git
[submodule "plugins/babel-fish"]
	path = plugins/babel-fish
	url = https://github.com/TheGlitchKing/babel-fish.git
[submodule "plugins/gimme-the-lint"]
	path = plugins/gimme-the-lint
	url = https://github.com/TheGlitchKing/gimme-the-lint.git
[submodule "plugins/semantic-pages"]
	path = plugins/semantic-pages
	url = https://github.com/TheGlitchKing/semantic-pages.git
